.home-container {
  padding: 20px;
}

/* Offres */
/* Conteneur principal des offres */
.offers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
}
