.offer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.offer-image {
  position: relative;
}

.offer-image img {
  max-width: 400px;
  border-radius: 10px;
}

.offer-page-details {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.offer-page-details h2 {
  font-size: 24px;
  color: var(--primary-color);
}

.seller-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.seller-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.buy-button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--vinted-green);
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:disabled {
  background-color: #aaa;
  color: white;
  cursor: not-allowed;
  opacity: 0.8;
}

.sold-badge-big {
  position: absolute;
  top: 45px;
  right: -18px;
  padding: 5px 50px;
  background: red;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  transform: rotate(45deg);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0.9;
}
