.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.header-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: var(--primary-color);
  font-weight: bold;
}

.search-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px; /* Ajustable si besoin */
  margin: 0 auto;
}

.search-filters .search-bar {
  width: 100%;
  max-width: 600px;
}

.filters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; /* Réduit l'écart entre les éléments */
  margin-top: 30px;
  width: 100%;
}

/* Ajustement de la taille du texte */
.filters-container label,
.filters-container span {
  font-size: 12px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
    align-items: center;
  }
}

.header-buttons {
  display: flex;
  min-width: 400px;
  gap: 15px;
  justify-content: end;
}

.btn-outline {
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-solid {
  background: var(--primary-color);
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-disconnect {
  background: red;
}

.btn-outline:hover,
.btn-solid:hover {
  opacity: 0.8;
}
