.price-sort-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: solid;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle-button:hover {
  opacity: 0.8;
}

.toggle-button svg {
  /* color: var(--primary-color); */
  font-size: 20px;
}
