.modal-overlay {
  position: fixed;
  top: 32px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.modal-content {
  background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 30%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.modal-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  /* box-sizing: border-box; */
}

.modal-form label {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  gap: 8px;
  font-size: 16px;
  width: 100%;
  white-space: nowrap;
  opacity: 0.65;
  margin-top: 20px;
}

.modal-form label input[type="checkbox"] {
  margin-right: 5px;
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.modal-form button {
  width: 50%;
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.modal-form button:hover {
  opacity: 0.8;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 30px;
}

.newsletter-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.newsletter-info {
  font-size: 12px;
  color: #8b8b8b;
  margin-top: 4px;
}

.login-link {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.login-link a {
  color: #44a8b3;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
